$white: rgb(255, 255, 255);
$black-500: rgb(34, 34, 34);
$black-600: rgb(0, 0, 0);
$grey-300: #e9ecef;
$grey-400: rgb(211, 211, 211);
$grey-600: rgb(153, 153, 153);

$blue-50: #9ee2ff;
$blue-100: rgb(41, 108, 242);
