@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$laptop}) and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$pc}) and (min-width: #{$laptop}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$pc}) {
    @content;
  }
}

@mixin responsive-graph($width, $height) {
  max-width: $width;
  width: 100%;
  max-height: $height;
  height: 100%;
}
